body {
    background-image: url(../images/starwars.png);
    color: darkblue;
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
  }
  
  #game-name {
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }  
    
  .row {
    font-weight: bold;
    font-size: 25px;
    height: 100%;
    width: 100%;
    text-align: center;
  }

  #battlefield {
    width: 100%;
    
  }

  /* individual cards for characters */
  
  .char  {
    background: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 180px;
    width: 130px;
    display:inline-block;
    border: 6px silver solid;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    color: black;
    z-index: 2;
    }

   
  #char01 {
    background-image: '../images/darthvader.png';
    background-repeat: no-repeat;

  }

  #char02 {
    background-image: '../images/darthmaul.png';
    background-repeat: no-repeat;

  }

  #char03 {
    background-image: '../images/obiwan.png';
    background-repeat: no-repeat;

  }

  #char04 {
    background-image: '../images/lukeskywalker.png';
    background-repeat: no-repeat;

  }

  #char05 {
    background-image: '../images/yoda.png';
    background-repeat: no-repeat;

  }

  #gameplayer {
    height: 200 px;
    width: 180px;
    padding: 30px;
  }
  
  #enemyplayer {
    height: 200 px;
    width: 180px;
    padding: 30px;
  }
  
  #defender {
    height: 200 px;
    width: 180px;
    text-align: center;
    padding: 30px;
  }

  
 



  
    


  

