
body {
    background-image: url(../images/starwars.png);
    color: darkblue;
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
  }
  
  #game-name {
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }  
    
  .row {
    font-weight: bold;
    font-size: 25px;
    height: 100%;
    width: 100%;
    text-align: center;
  }

  #battlefield {
    width: 100%;

  }
  
  .characters {
    height: 180px;
    width: 130px;
    display:inline-block;
    border-color: silver 2px solid ;
    border-width: 2px;
    display: block;
    cursor: pointer;
    height: 250px;
    width: 150px;
    font-size: 20px;
    color: black;
    

  }

  .characters-imageUrl {
    height: 200px;
    width: 180px;
    display: inline-block;
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 3px;
    margin-bottom: 3px;


  }

  #gameplayer {
    height: 200 px;
    width: 180px;
    padding: 30px;
  }
  
  #enemyplayer {
    height: 200 px;
    width: 180px;
    padding: 30px;
  }
  
  #defender {
    height: 200 px;
    width: 180px;
    text-align: center;
    padding: 30px;
  }

  
 



  
    


  

