
body {
    background-image: url(../images/starwars.png);
    color: darkblue;
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
  }
  
  #game-name {
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }  
    
  .row {
    font-weight: bold;
    font-size: 25px;
    height: 100%;
    width: 100%;
    text-align: center;
  }

  
  .img {
    height: 100px;
    width: 150px;
    border-radius: 10px;
  }

  #characters {
    display:inline-block;
    border-color: silver 2px solid ;
    border-width: 2px;
    display: block;
    cursor: pointer;
    font-size: 20px;
    color: black;
    

  }
  .characters-imageUrl {
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 3px;
    margin-bottom: 3px;


  }
  #gameplayer {
    height: 190 px;
    width: 160px;
    padding: 30px;
  }
  
  #enemyplayer {
    height: 190 px;
    width: 160px;
    padding: 30px;
  }
  
  #defender {
    height: 190 px;
    width: 160px;
    text-align: center;
    padding: 30px;
  display: hidden;
  }

  
 



  
    


  

